
    <div class=" mx-auto">
      
        <div class="w-full rounded overflow-hidden shadow-lg bg-white cursor-pointer" >
            <img class="w-full h-60"  src="https://via.placeholder.com/600/92c952" alt="Placeholder Image">
            <div class="px-6 py-4">
                <div class="font-bold text-5xl mb-2">
                    {{userId}}</div>
            </div>
            <div class="px-6 pb-4">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
               
                    </span>
               
            </div>
  
    </div>

